<!DOCTYPE html>
<html lang = "en">

{% load static %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


<head>
  
  <title>MyScrumy</title>
  <meta charset = "UTF-8">
  <link rel="stylesheet" type="text/css" href="{% static 'myscrumy/css/sc.css' %}">
  <script src="{% static 'myscrumy/js/scrumy.js' %}"></script>
  <script type="text/javascript">var scrumyUser = '{{u}}';</script>

</head>

<body>
  
  <h3>linuxjobber</h3>

  <a id="logout" href="{% url 'logout' %}">Logout</a>

<div style="margin: 20px 20px 20px 20px">
<table>
  
  <tr>
    <th>Name</th>
    <th></th>
    <th>Weekly Target</th>
    <th>Daily Target</th>
    <th>Verify</th>
    <th>Done</th>
  </tr>

{% for eachuser in u %} 
  <tr>
    <td>{{ eachuser.userName }}</td>
    <td><a href="add_task">Create a new task</a></td>
    <td id="dragorigin">
      {% for eachtask in w %}
        {% if eachtask.user_id_id == eachuser.id %}
          <div id="box" draggable="true" style="border: solid 1px">
            {{ eachtask.task_id }}<br>
            {{ eachtask }}<br>
            <a href="move_task/{{ eachtask.task_id }}">move</a><br>
            <a href="history/{{ eachtask.id }}">History</a><br>
            <a id="delete" href="delete/{{ eachtask.task_id }}">Delete</a><br>
            <small>Owner: </small><em>{{ eachtask.owner }}</em><a href="assign/owner/{{ eachtask.task_id }}"> <em>change</em></a>
          </div>
        {% endif %}
      {% endfor %}
    </td>
    <td id="droparea">
      {% for eachtask in d %}
        {% if eachtask.user_id_id == eachuser.id %}
          <div id="box">
            {{ eachtask.task_id }}<br>
            {{ eachtask }}<br>
            <a href="move_task/{{ eachtask.task_id }}">move</a><br>
            <a href="history/{{ eachtask.id }}">History</a><br>
            <a id="delete" href="delete/{{ eachtask.task_id }}">Delete</a><br>
            <small>Owner: </small><em>{{ eachtask.owner }}</em><a href="assign/owner/{{ eachtask.task_id }}"> <em>change</em></a>
          </div id="box">
        {% endif %}
      {% endfor %}
    </td>
    <td>
      {% for eachtask in v %}
        {% if eachtask.user_id_id == eachuser.id %}
          <div id="box">
            {{ eachtask.task_id }}<br>
            {{ eachtask }}<br>
            <a href="move_task/{{ eachtask.task_id }}">move</a><br>
            <a href="history/{{ eachtask.id }}">History</a><br>
            <a id="delete" href="delete/{{ eachtask.task_id }}">Delete</a><br>
            <small>Owner: </small><em>{{ eachtask.owner }}</em><a href="assign/owner/{{ eachtask.task_id }}"> <em>change</em></a>
          </div id="box">
        {% endif %}
      {% endfor %}
    </td>
    <td>
      {% for eachtask in dn %}
        {% if eachtask.user_id_id == eachuser.id %}
          <div id="box">
            {{ eachtask.task_id }}<br>
            {{ eachtask }}<br>
            <a href="move_task/{{ eachtask.task_id }}">move</a><br>
            <a href="history/{{ eachtask.id }}">History</a><br>
            <a id="delete" href="delete/{{ eachtask.task_id }}">Delete</a><br>
            <small>Owner: </small><em>{{ eachtask.owner }}</em><a href="assign/owner/{{ eachtask.task_id }}"> <em>change</em></a>
          </div id="box">
        {% endif %}
      {% endfor %}
    </td>
  </tr>

{% endfor %}  

  <tr>
    <td>
      <a href="add_user">Add New User</a>
    </td>
  </tr>

</table>

</div>



<!-- Code for implementing dynamic scrumy for drag and drop -->
  <script type="text/javascript">
    var user = [];
    var weeklyTask = [];
    var dailyTask = [];
    var verifyTask = [];
    var doneTask = [];
  </script>

{% for eachuser in u %}

  <script type="text/javascript">
    user.push('{{eachuser}}');
  </script>
{% endfor %}

{% for eachtask in w %}
  <script type="text/javascript">
    weeklyTask.push('{{eachtask}}');
  </script>
{% endfor %}

<h1 id='context_var'><script>
  document.write(weeklyTask);
</script> </h1>

</body>
</html>
