<!DOCTYPE html>
<html lang = "en">

{% load static %}


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


<head>
  
  <title>DynamicScrumy</title>
  <meta charset = "UTF-8">
  <link rel="stylesheet" type="text/css" href="{% static 'myscrumy/css/sc.css' %}">
  <script src="{% static 'myscrumy/js/AngularJS-v1.6.9.js' %}"></script>
  <script src="{% static 'myscrumy/js/angular-route.js' %}"></script>
  <script src="{% static 'myscrumy/js/app.js' %}"></script>
  <script src="{% static 'myscrumy/js/controllers.js' %}"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


</head>


<body ng-app = 'dynamicScrumyApp' ng-controller = 'dynamicScrumyController'>
  
  <h3>linuxjobber</h3>

  <a id="logout" href="{% url 'logout' %}">Logout</a>


<div style="margin: 20px 20px 20px 20px">
<table>
  
  <tr>
    <th>Name</th>
    <th></th>
    <th>Weekly Target</th>
    <th>Daily Target</th>
    <th>Verify</th>
    <th>Done</th>
  </tr>

  <tr ng-repeat="x in user">
  	{% verbatim %}
  	<td>
  		{{x.userName}}
  	</td>
  	<td>
  		<span ng-model="mm" ng-hide='true'>{{mm = x.url}}</span>
  		<a href="#!add_task" ng-click="myFunction(mm)">+</a>
  	</td>
  	<td>
  		<span ng-if ="y.status_id == 'http://127.0.0.1:8000/status/4/?format=json' && y.user_id == x.url" ng-repeat="y in task">
  			<div id="box">
  				{{y.task_id}}<br>
  				{{y.task}}<br><br>
  			</div>
  		</span>
  	</td>
  	<td>
  		<span ng-if ="y.status_id == 'http://127.0.0.1:8000/status/3/?format=json' && y.user_id == x.url " ng-repeat="y in task">
  			<div id="box">
  				{{y.task_id}}<br>
  				{{y.task}}<br><br>
  			</div>
  		</span>
  	</td>
  	<td>
  		<span  ng-if = "y.status_id == 'http://127.0.0.1:8000/status/2/?format=json' && y.user_id == x.url " ng-repeat="y in task">
  			<div id="box">
  				{{y.task_id}}<br>
  				{{y.task}}<br><br>
  			</div>
  		</span>
  	</td>
  	<td>
  		<span ng-if = "y.status_id == 'http://127.0.0.1:8000/status/1/?format=json' && y.user_id == x.url " ng-repeat="y in task">
  			<div id="box">
  				{{y.task_id}}<br>
  				{{y.task}}<br><br>
  			</div>
  		</span>
  	</td>
  	{% endverbatim %}
  </tr>

  <tr>
    <td>
      <a href="#!add_user">Add New User</a>
    </td>
    <td>
    	<span ng-view></span>
    </td>
  </tr>

</table>


{{mm}}

	

</div>

</body>


</html>